@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sansita:ital,wght@0,400;0,700;0,800;0,900;1,400;1,700;1,800;1,900&display=swap');

.bg-image {
    background-image: url(../image/png/Sign-in-img.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.logo {
    padding-bottom: 40px;
}

.sign {

    font-family: "Poppins", sans-serif;
    font-size: 32px;
    font-weight: 600;
    line-height: 43.2px;
    color: rgba(3, 7, 18, 1);

}

.text-1 {
    font-family: "Lato", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: rgba(98, 101, 109, 1);

}

.text-blue {
    font-family: "Lato", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: rgba(37, 99, 235, 1);

}

.a {
    text-decoration: none;
}

label[for="Email"] {
    position: relative;
    display: flex;


}

.Email-icon {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
}

input[type="Email"][id="Email"] {
    width: 100% !important;
    padding: 8px 43px;
    font-family: "Lato", sans-serif;
    font-size: 14px;
    font-weight: 400;
    padding-bottom: 10px;
    background-color: rgba(245, 248, 255);
    border-radius: 6px;
    border: 1px solid rgba(228, 234, 247, 1);
    margin-top: 10px;
}


label[for="password"] {
    position: relative;
    display: flex;
}

.lock-icon {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
}

.close-eye-icon {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    cursor: pointer;
}

.close-eye-icon:hover path {
    fill: blue;
}

input[type="password"][id="password"] {
    width: 100% !important;
    padding: 8px 43px;
    font-family: "Lato", sans-serif;
    font-size: 14px;
    font-weight: 400;
    padding-bottom: 10px;
    background-color: rgba(245, 248, 255);
    border-radius: 6px;
    border: 1px solid rgba(228, 234, 247, 1);
    margin-top: 10px;
}

label[for="Remember"] {
    font-family: "Lato", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: rgba(98, 101, 109, 1);
    cursor: pointer;
}

.Forgot {
    font-family: "Lato", sans-serif !important;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: rgba(98, 101, 109, 1);
    float: inline-end !important;
    cursor: pointer;
}

a {
    text-decoration: none !important;
}

.btn-1 {
    border: 1px solid rgba(36, 111, 240);
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 50px;
    background: linear-gradient(83.67deg, #2194FF 10.02%, #2563EB 90.05%);
    margin-top: 20px;

}

.line {
    width: 107px !important;
    border: 1px solid rgba(201, 207, 219, 1);
    display: flex;
    align-items: center;

}

.continue {
    font-family: "Lato", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: rgba(145, 151, 166, 1);
    margin-top: 15px;
}

.google-btn {
    border: 1px solid rgba(228, 234, 247, 1);
    background: rgba(255, 255, 255);
    border-radius: 6px;
    padding-left: 40px;
    padding-right: 40px;
}

.google {
    font-family: "Lato", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: rgba(98, 101, 109, 1);
    text-decoration: none;

}

.facebook-btn {
    border: 1px solid rgba(228, 234, 247, 1);
    background: rgba(255, 255, 255);
    border-radius: 6px;
    padding-left: 40px;
    padding-right: 40px;
    float: inline-end;
}

.facebook {
    font-family: "Lato", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: rgba(98, 101, 109, 1);
    text-decoration: none;
}

@media (min-width: 992px) {
    section::after {
        content: "";
        position: absolute;
        right: 0%;
        left: 50%;
        background-image: url(../image/png/bg-blue.png);
        height: 100%;
        width: 50%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }


    .circle {
        z-index: 99 !important;
        position: absolute;
        right: 0%;
        bottom: -91px;
        width: 100%;

    }

    .photo-icon {
        z-index: 99 !important;
        position: absolute;
        right: 8%;
        bottom: 140px;
    }

    .form {
        max-width: 340px !important;
        width: 100% !important;
    }

    img[ alt="social-icon"] {
        position: absolute;
        z-index: 99 !important;

    }

    a .facebook-2 {
        top: -124px;
            left: 56px;
    }

    .linkdin-btn {
        left: 66px;
        top: 4px
    }

    .instagram-btn {
        top: 152px;
        left: 61px;
    }

    .twiter-btn {
        top: 284px;
        left: 61px;
    }
}

@media (max-width: 991.98px) and (min-width:576px) {

    .col-lg-6::after {
        content: "";
        position: absolute;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 100%;
        left: 0px;
        background-image: url(../image/png/bg-blue.png);
    }

    img[alt="group-circle"] {
        position: absolute;
        z-index: 1;
        top: 268px;
        left: 13%;
    }

    img[alt="photo-icon"] {
        position: absolute;
        z-index: 1;
        top: 366px;
        left: 52%;
    }

    img[ alt="social-icon"] {
        position: absolute;
        z-index: 99 !important;
    }

    .facebook-2 {
        left: 140px;
        top: 303px;
    }

    .linkdin-btn {

        left: 136px;
        top: 401px
    }

    .instagram-btn {
        left: 134px;
        top: 519px;
    }



    .twiter-btn {
        left: 138px;
        top: 618px;
    }

}

@media (max-width:575.98px) {
    img[alt="group-circle"] {
        display: none !important;
    }

    .col-lg-6::after {
        content: "";
        position: absolute;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 100%;
        left: 0px;
        background-image: url(../image/png/bg-blue.png);
    }

    img[alt="photo-icon"] {
        position: absolute;
        z-index: 1;
        top: 175px;
        left: 29%;
    }

    img[ alt="social-icon"] {
        position: absolute;
        z-index: 99 !important;
        top: 439px;
    }

    .facebook-2 {
        left: 50px;
    }


    .linkdin-btn {

        left: 150px;
    }

    .instagram-btn {
        left: 260px;
    }



    .twiter-btn {
        left: 370px;
    }

}